@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@1,900&display=swap";

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.bg {
  background: url(./Images/Earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(0px);
}
.loading-text {
  font-size: 50px;
  color: #fff;
}
